In [7]:
tup1=(1,2,3,4)
tup2=(5,6,7,8)
tup3=(tup1,tup2)
print(type(tup1))
print(type(tup2))
print(type(tup3))
print(tup3)
print(tup3[1:])
print(tup3[2:])

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
((1, 2, 3, 4), (5, 6, 7, 8))
((5, 6, 7, 8),)
()

In [10]:
def adding(a,b):
    
    sum=a+b
    return sum
p=adding(3,4)
print(p)

7

In [15]:
def sqrt(**p):
    print(p)
    print(type(p))
sqrt(lname="abc",fname="xyz",age=22)

{'lname': 'abc', 'fname': 'xyz', 'age': 22}
<class 'dict'>

In [17]:
def sqrt(*p):
    print(p)
    print(type(p))
sqrt("abc","xyz",22)

('abc', 'xyz', 22)
<class 'tuple'>

In [19]:
x=lambda a: a*a
print(x(4))
y=lambda a,b,c:a+b+c
print(y(1,2,3))

16
6

In [22]:
def myf(n):
    return lambda a:a*n;
d=myf(10)
print(d(10))

100

In [23]:
n=[1,2,3,4,5,6,7,8,9]
nl=list(map(lambda a:a*2,n))
print(n)
print(nl)

[1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 4, 6, 8, 10, 12, 14, 16, 18]